@font-face {
    font-family: 'HeliosExt';
    src: url("../fonts/HeliosExt-Regular.otf") format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'HeliosExt';
    font-weight: bold;
    src: url("../fonts/HeliosExt-Bold.otf") format('opentype');
}

:root{
    --main-orange-color: #E9530E;
    --hover-orange-color: #ac1d00;
    --text-button-color: #fff;
    --text-white-color: #fff;

    --preview-background: #050501;
    --allPage-background: #181A1C;

    --runLine-background: #D3D3D3;
    --runLine-text-color: #000;

    --menu-mobile-background: #050501;
    --service-nav-background: #222628;
    --service-nav-active-background: #e7e7e717;


    --button-manage-partners-background: #323638;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'HeliosExt';
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--allPage-background);
}
button{
    font-family: 'HeliosExt';
    cursor: pointer;
}
a{
    text-decoration: none;
    cursor: pointer;
}
li{
    list-style-type: none;
}


header{
    position: absolute;
    width: 100%;
    top:0;
    background: rgba(20, 20, 20, 0.4);
    backdrop-filter: blur(20px);
    border-bottom: 0.40px solid rgba(255, 255, 255, 0.2);
   
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    z-index: 4;
}
.header_burger{
    display: none;
}
@media (max-width:1000px){
    body.lock{
        overflow: hidden;
    }
    .header_menu{
        position: fixed;
        top: -100vh;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--menu-mobile-background);
        transition: all 0.3s ease 0s;
        z-index: 3;
        overflow: auto;
    }
    .header_menu.active{
        top: 65px;
    }
    .header-nav ul{
        flex-direction: column !important;
        margin-top: 20px;
    }
    .header-nav ul li{
        width: 100%;
        text-align: center;
        padding: 15px 0 !important;
    }
    .header_burger{
        display: block;
        position: relative;
        width: 20px;
        height: 10px;
        z-index: 4;
    }
    .header_burger:before,
    .header_burger:after{
        content: '';
        background-color: var(--text-white-color);
        position: absolute;
        width: 100%;
        height: 2.5px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header_burger:before{
        top: 0;
    }
    .header_burger:after{
        bottom: 0;
    }
    .header_burger.active:before{
        transform: rotate(45deg);
        top: 3.5px;
    }
    .header_burger.active:after{
        transform: rotate(-45deg);
        bottom: 4px;
    }
}


.header-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.header-nav ul li{
    padding: 0px 8px;
}
.header-nav ul li a{
    padding: 0px 8px;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-white-color);

    &:hover{
        color: var(--main-orange-color);
        transition: all 0.3s;
    }

}
.nav-logo,
.button-nav {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.request{
    padding: 13px 20px;
    border: none;
    border-radius: 100px;
    background: var(--main-orange-color);
    color: var(--text-button-color);
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    &:hover{
        background: var(--hover-orange-color);
        transition: all 0.3s;
    }
}

.button-nav .telegram {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: #292929;
    border-radius: 50%;
    border: none;
    &:hover{
        background: #1b1b1b;
        transition: all 0.3s;
    }
}

.button-nav .telegram img {
    width: 20px;
    height: 20px;
}

.preview-content {
    position: relative;
    display: flex;
    justify-content: center;
    height: 687px;
    width: 100%;
    max-width: 100vw;
    align-items: center;
    background: var(--preview-background);
    color: var(--text-white-color);
    z-index: 3;
}
.preview-content .preview-img{
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    height: 100%;
    user-select: none;
    pointer-events: none;
}
.preview-content .orange{
    position: relative;
    height: 100%;
    margin-right: -40px; 
    z-index: 2;
    user-select: none;
    pointer-events: none;
}
.right-info{
    position: absolute;
    top: 210px;
    left: 130px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.right-info span{
    font-weight: 700;
    font-size: 112px;
    line-height: 112px;
    letter-spacing: 0.02em;
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, #fff, #fff, #000000);
 }
 .right-info p{
    margin-top: 10px;
    font-size: 14px;
    color: var(--main-orange-color);
 }

.content-section {
    display: flex;
    width: 1400px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.content-section .preview-info{
    width: 60%;
}
h1{
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
}
.content-section .preview-info p{
    color:var(--text-white-color);
    font-weight: 400;
    margin-top: 40px;
    font-size: 16px;
    line-height: 24px;
    max-width: 570px;
}
.preview-request{
    margin-top: 36px;
    background-color: var(--main-orange-color);
    padding: 12px 28px;
    border: none;
    border-radius: 40px;
    color: var(--text-button-color);
    font-weight: 700;
    font-size: 16px;
    &:hover{
        background: var(--hover-orange-color);
        transition: all 0.3s;
    }
}


.line {
    display: flex;
    overflow: hidden;
    padding: 12px 20px;
    background: var(--runLine-background);
    color: var(--runLine-text-color);
 }

 .line_inner {
    font-size: 16px;
    font-size: sans-serif;
    line-height: 24px;
    white-space: nowrap;
    display: inline-block;
}
.line_inner_1 {
    animation: marquee1 30s infinite linear;
    animation-delay: -30s;
}

.line_inner_2 {
    animation: marquee2 30s infinite linear;
    animation-delay: -15s;
}


@keyframes marquee1 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}
.line_content{
    padding: 0 20px;
}


 /*SERVICE*/
 .service-section{
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: auto;
    overflow-x: hidden; 
 }
 .service-section h2{
    margin-top: 120px;
    color: var(--text-white-color);
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    line-height: 72px;
 }
    /* хром, сафари */
    .main-service-nav::-webkit-scrollbar { display: none; }

    /* Скрываем scrollbar для IE, Edge и Firefox */
    .main-service-nav { -ms-overflow-style: none; 
        scrollbar-width: none; 
        overflow: -moz-scrollbars-none;}

    .service-navigation {
        position: relative;
        display: flex;
        justify-content: flex-start;
        margin-top: 48px;
        border-radius: 100px;
        padding: 0;
        z-index: 2;
        width: 100%; 
        

    }

    .main-service-nav {
        width: 100%;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        flex-shrink: 0;

    }
    .scroll-nav{
        display: flex;
        flex-direction: row;
        min-width: fit-content;
        white-space: nowrap;
        width: 100%;
        background: var(--service-nav-background);
        border-radius: 100px;
    }

    .service-nav-child {
        display: flex;
        justify-content: center;
        white-space: nowrap;
        width: 25%;
        min-width: fit-content;
        color: var(--text-white-color);
        padding: 5px;
        scroll-snap-align: start;
    }
    .service-nav-child h5{ 
        cursor: pointer;
        font-size: 16px;
        font-weight: normal;
        color: var(--text-white-color);
        flex-shrink: 0;
        width: 100%;
        text-align: center;
        padding: 17px 23px;
    }
    .main-service-nav .active h5{
        background: var(--service-nav-active-background);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
        border-radius: 100px;
    }

.service-main{
    margin-top: 64px;
}
.service-main .service-info{
    float: left;
    width: 50%;
    padding-right: 60px;
}
.service-main .service-info h3{
    color: var(--text-white-color);
    font-weight: 700;
    font-size: 46px;
    line-height: 54px;
}
.service-main .service-info p{
    margin-top: 24px;
    color: var(--text-white-color);
    font-size: 16px;
    line-height: 24px;
}
.tools{
    margin-top: 20px;
}
.tools-mobile{
    display: none;
}

.tools ul li{
    display: inline-block;
    margin-top: 12px;
    color: var(--text-white-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 9px 18px;
    border-radius: 40px;
    background: var(--service-nav-background);
}
.service-picture{
    width: 50%;
    float: right;
}
.service-picture .service-img{
    display: flex;
    margin: auto;
    height: 100%;
}


/*partners*/
.partners{
    position: relative;
    width: 100%;
    height: 600px;
    margin: 102px auto;
    
}
.partners-title{
    width: 1400px;
    display: flex;
    margin: auto;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.partners-title h2{
    color: var(--text-white-color);
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
}
.partners-slide-manage{
    z-index: 2;
    display: flex;
    column-gap: 12px;
}
.partners-title .but-manage{
    cursor: pointer;
    font-size: 25px;
    color: var(--text-white-color);
    background: var(--button-manage-partners-background);
    height: 48px;
    width: 48px;
    border: none;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    &:hover{
        background: var(--main-orange-color);
        transition: all 0.3s;
    }
}

.slide-container{
    margin-top: 48px;
    max-width: 100%;
    width: 100%;
    padding: 40px 0;

  }
  .slide-content{
    height: 385px;
    min-height: fit-content;
    overflow: hidden;
  }
  .card{
    color: var(--text-white-color);
    background: var(--service-nav-background);
    padding: 36px;
    padding-bottom: 25px;
    border-radius: 22px;
    height: 100%;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
  }
  .card-content{
    height: 290px;
  }
  .image-content{
   display: flex;
   justify-content: center;
  }
  
  .card-content h4{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}
.card-content p{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

  .gradient-parent{
    position: absolute;
    right: 0;
    top: -100%;
    overflow: hidden; 
  }
  svg{
    fill: radial-gradient(50.1% 50% at 50.1% 50%, rgb(88, 9, 178) 0%, 
    rgb(88, 9, 178) 25.12218952178955%, rgb(88, 9, 178) 49.7556209564209%, 
    rgb(88, 9, 178) 74.97556209564209%, rgb(54, 0, 115) 100%);
  }

  /*footer*/
  footer{
    z-index: 2;
    background: var(--allPage-background);
    color: var(--text-white-color);
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 48px 0 56px 0;
}
.footer-nav{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1400px;
}
.footer-nav .col-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-nav .col-title i{
    display: none;
    margin-left: 10px;
    font-size: 20px;
}
.col-point-info{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.footer-nav .col-point{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.footer-nav .col-point-info a, .footer-nav .col-point a{
    color: var(--text-white-color);
}
.footer-nav .col-point a:hover, .footer-nav .col-point-info a:hover{
    color:var(--main-orange-color);
}

footer .name-org{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.5;
}


@media (max-width: 1820px){
    .preview-content .orange{
        margin-right: -200px;
    }
    .header-nav, .service-section, .content-section, .partners-title, .footer-nav{
        max-width: 95%;
    }
}
@media (max-width: 1500px){
    h1{
        font-size: 52px;
    }
    .header-nav, .service-section, .content-section, .partners-title, .footer-nav{
        width: 1200px;
    }
    .preview-content .orange{
        margin-right: -400px;
    }
    .carousel{
        width: 99vw;
    }
    
 }
 @media (max-width: 1200px){
    .header-nav, .service-section, .content-section, .partners-title, .footer-nav{
        width: 1000px;
    }
    .preview-content .orange{
        margin-right: -600px;
    }
    .service-picture .service-img{
        width: 100%;
    }
 }
 @media (max-width: 1000px){
    .partners-slide-manage{
        display: none;
    }
    h1{
        font-size: 44px;
        line-height: 46px;
    }
    .header-nav, .service-section, .content-section, .partners-title, .footer-nav{
        width: 800px;
    }
    .service-main{
        width: 100%;
    }
    .service-main .service-info{
        width: 100%;
    }
    .service-section h2{
        text-align: left;
    }
    .service-picture{
        display: none;
    }
    .tools {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
    }
    
    .tools ul::before {
        content: 'Технологии:';
        margin-right: 5px;
        color: var(--text-white-color);
    }
    
    .tools ul {
        line-height: 24px;
        margin: 0;
        padding: 0; 
        display: flex; 
        flex-wrap: wrap; 
    }
    
    .tools ul li {
        display: inline-flex;
        margin: 0;
        color: var(--text-white-color);
        font-weight: 400;
        padding: 0;
        background: none;
    }
    
    .tools ul li::after {
        content: ',';
        margin-right: 5px; 
    }
    
    .tools ul li:last-child::after {
        content: '';
        margin-right: 0;
    }
    .card-image img{
        height: 40px;
    }
 }
 @media (max-width: 890px){
    .header-nav, .service-section, .content-section, .partners-title, .footer-nav{
        width: 750px;
    }
    h1{
        font-size: 35px;
        line-height: 38px;
    }
    .content-section .preview-info p{
        max-width: 380px;
    }
    
 }
 @media (max-width: 767px){
   
    .preview-content {
        height: 711px;
    }
    .button-nav .telegram{
        display: none;
    }
    .content-section {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .content-section .preview-info{
        width: 100%;
        margin-top: 102px;
        z-index: 3;
    }
    .content-section .preview-info p{
        max-width: 500px;
    }
    .preview-content .preview-img{
        left: 0;
    }
    .preview-content .orange{
        margin: 0;
    }
    .preview-request{
        display: none;
    }
    .preview-request-second{
        display: block;
        width: 100%;
    }
    .right-info{
        top: 450px;
        left: 20px;
    }
    .service-section{
        max-width: 97%;
    }
    .header-nav, .service-main, .content-section, .partners-title, .footer-nav{
        width: 100%;
        padding-left: 20px;
    }
    .service-main{
        width: 100%;
    }
    .service-main .service-info{
        width: 100%;
    }
    .service-section h2{
        padding-left: 20px;
        margin-top: 60px;
        font-size: 36px;
        line-height: 40px;
        text-align: left;
    }
    .service-picture{
        display: none;
    }
    .service-main .service-info h3{
        font-size: 28px;
        line-height: 36px;
    }
    .service-main .service-info p{
        line-height: 20px;
    }
    .service-section .preview-request{
        width: 100%;
    }
    .partners{
        margin-top: 80px;
    }
    .partners-title h2{
        font-size: 36px;

    }
    .slide-container{
        margin-top: 40px;
    }
    .slide-content{
        padding: 0 10px;
    }
    footer{
        padding-top: 20px;
    }
    .footer-nav{
        flex-direction: column;
     }
     .first-title{
        display: none !important;
     }
     .footer-nav .col-title{
        cursor: pointer;
     }
     .footer-nav .col-title:hover{
        color:var(--main-orange-color);
     }
     .footer-nav .col-title i{
        display: flex;
     }
    .foot-col{
       margin-top: 32px;
    }
    footer .name-org{
        left: 20px;
        bottom: -90px;
        padding-bottom: 40px;
    }
    .footer-nav .col-point{
        display: none;
        margin-left: 20px;
    }
        
 }
 @media (max-width: 480px){
    h1{
        font-size: 24px;
        line-height: 28px;
    }
    .card-content{
        height: 360px;
      }
 }
 @media (max-width: 325px){
    .nav-logo img{
        width: 105px;
    }
    .card-content{
        height: 360px;
      }
    .card-image img{
        height: 35px;
    }
 }